<div class="page_title">
    <h1 class="h1_title">
        Edit <%= @pokemon.name %>
    </h1>
</div>

<div class="page_content">

    <%= form_for @pokemon do |f| %>
    <div class="divider">
    <%= f.label 'Pokemon Name:', :class => "form_label" %><br>
    <%= f.text_field :name %><br>
    </div>
    <div class="divider">
    <%= f.label 'Pokedex ID:', :class => "form_label"  %><br>
    <%= f.text_field :pokedex_id %><br>
    </div>
    <div class="divider">
    <%= f.label 'Team ID:', :class => "form_label"  %><br>
    <%= f.text_field :team_id %><br>
    </div>
    <%= f.submit "Update Pokemon", :class => "button"  %>
    <% end %> 
</div>
