<div class="page_title">
    <h1 class="h1_title">
        New Pokemon
    </h1>
</div>

<div class="page_content">

    <%= form_tag pokemons_path do %>

    <div class="divider">
    <label class="form_label">Pokemon Nickname:</label><br>
    <%= text_field_tag :name %><br>
    </div>

    <div class="divider">
    <label class="form_label">Team ID:</label><br>
    <%= text_field_tag :team_id %><br>
    </div>

    <div class="divider">
    <label class="form_label">Trainer ID:</label><br>
    <%= text_field_tag :trainer_id %><br>
    </div>

    <div class="divider">
    <label class="form_label">Pokedex ID:</label><br>
    <%= text_field_tag :pokedex_id git a%><br>
    </div>

    <%= submit_tag "Add Pokemon", :class => "button"  %>
    <% end %>
</div>
