<div class="page_title">
    <h1 class="h1_title">
        Edit <%= @trainer.name %>
    </h1>
</div>

<div class="page_content">
    <%= form_for @trainer do |f| %>
    <div class="divider">
    <%= f.label 'Trainer Name:', :class => "form_label" %><br>
    <%= f.text_field :name %><br>
    </div>

    <%= f.submit "Update Trainer", :class => "button"  %>
    <% end %> 
</div>